@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
}

.View {
   display: flex;
   height: 100vh;  
}

#pageContent {
    width: 75%;
    background-color: #4e4e4e;
    overflow: scroll;
}

/* SIDEBAR STYLING */

.sidebar {
    width: 25%;
    background-image: url('/src/assets/img/darkmetalbackground.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow: scroll;
}

.sidebar img {
    width: 70%;
}

.sidebar h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.883);
}

button {
    margin-top: 40px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    background-color: #080808;
    color: rgba(255, 255, 255, 0.883);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#resume{
   margin-top: 40px;
   background-color: rgba(255, 255, 255, 0.883);
   border-radius: 25px;
   width: 50%;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 150%; 
}

#resume a {
    text-decoration: none;
}

#resume a:link {
    color: #080808
}

#resume a:visited {
    color: #080808
}

/* PROJECTS STYLING */

#projectCard {
    width: 300px;
    height: 400px;
    background-size: cover;
    border-radius: 25px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#projectCard:hover #projectCardText {
    display:flex;
}

#projectCardText {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    border-radius: 25px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.883);
    background-color: #4e4e4e;
    display: none
}

#projectCardText a {
    border: solid #080808 1px;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.883);
    background-color: #080808;
    width: 75%;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
}

#projectField {
    margin-top: 50px;
    
}

#projectCardDisplay {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

/* CONTACTS STYLING */

#contact {
    background-color: #080808;
    color: rgba(255, 255, 255, 0.883);
    text-align: center;
    padding: 30px;
    width: 60%;
    margin: auto;
    border-radius: 25px;
    
}


#contact a {
    color: rgba(255, 255, 255, 0.883);
}

.contact-icons {
    display: flex;
        gap: 15px;
        justify-content: center;
}

.contact-container {
    display: flex;
    height: 100vh;
}

/* ABOUT STYLING */

.about-container {
    display: flex;
    height: 100vh;
}

.about-section {
    background-color: #080808;
    color: rgba(255, 255, 255, 0.883);
    text-align: center;
    padding: 30px;
    width: 60%;
    margin: auto;
    border-radius: 25px;

}